.clickCounterContainer{
    display: flex;
    background-color: rgb(248, 103, 0);
    width: 200px;
    margin: 0 auto;
    margin-top: 140px;
    height: 100px;
    border-color: black;
    border-width: 2px;
    border-style: outset;
    border-radius: 4px;
}

.clickCounterContainer h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    color: white;
    margin-left: 45px;
    user-select: none;
    
}

.time{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(123, 123, 123);
    color: white;  
    user-select: none;  

}

button{
    user-select: none; 
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
    border-radius: 3px;
    
}

.started{
    background-color: rgb(139, 203, 139);
}

.recordsContainer span{
    padding: 20px 10px 10px 20px;
    margin: 0 auto;
    display: block;
}